[submodule "ext/xbyak"]
	path = ext/xbyak
	url = https://github.com/herumi/xbyak
[submodule "ext/xbyak_aarch64"]
	path = ext/xbyak_aarch64
	url = https://github.com/fujitsu/xbyak_aarch64
[submodule "ext/s_xbyak"]
	path = ext/s_xbyak
	url = https://github.com/herumi/s_xbyak
